:root {
  --transition-delay-1: 1s;
  --transition-delay-2: 0.5s;
  --background-black: rgba(0, 0, 0, 0.5);
  --background-white: rgba(255, 255, 255, 0.5);
}

html {
  overflow: hidden;
  background-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
}

.APOD {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: opacity var(--transition-delay-1);
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.APODlabel {
  position: fixed;
  background-color: var(--background-black);
  color: white;
  padding: 16px;
  border-radius: 8px;
  margin: 0;
  left: 32px;
  bottom: 32px;
  width: 480px;
  z-index: 1;
}

h3 {
  margin: 0 0 16px;
}

.APODlabel p {
  max-height: 72px;
  margin: 0;
  transition: all var(--transition-delay-1);
  overflow: hidden;
}

.APODlabel:hover p {
  max-height: 1000px;
}

.APODlabel .labelButtons {
  display: flex;
  overflow: hidden;
}

.APODlabel .labelButtons {
  max-height: 0;
  transition: all var(--transition-delay-1);
}

.APODlabel:hover .labelButtons {
  max-height: 144px;
}

.APODlabel .labelButtons a {
  display: block;
  background-color: #eee;
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  margin: 16px 8px 0 0;
  border-radius: 8px;
  font-size: small;
}

.APODlabel .labelButtons a:hover {
  background-color: #ddd;
}

.APODlabel .labelButtons address {
  margin: auto 8px 8px auto;
  font-size: small;
}

.sidePanel {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  transform: translate(200px);
  transition: transform var(--transition-delay-1);
  height: 100%;
  background-color: var(--background-black);
}

.sidePanel.show {
  transform: translate(0px);
}

.sidePanel button {
  position: relative;
  border: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
}

.sidePanel button:hover::before,
.sidePanel button:focus::before {
  content: attr(data-title);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  background-color: var(--background-black);
  border-radius: 0 0 4px 0;
}

.sidePanel img {
  width: 100%;
}

.sidePanel time {
  position: absolute;
  color: white;
  bottom: 2px;
  right: 0;
  background-color: var(--background-black);
  padding: 8px;
  border-radius: 4px 0 0 0;
}

.sidePanel a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 16px;
}

div.menu {
  transition: right var(--transition-delay-1);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 160px;
  align-items: flex-end;
  height: 240px;
}

div.menu > button {
  opacity: 0;
  margin: 8px;
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 40px;
  outline: none;
  color: white;
  transition: opacity var(--transition-delay-2);
}

div.menu.show > button {
  opacity: 1;
}

div.menu > button:hover:not(:disabled) {
  background-color: var(--background-white);
  border-radius: 50%;
}

div.menu > button svg {
  padding-top: 2px;
  font-size: large;
}

.sidePanel.show + div.menu {
  right: 200px;
}

.settingsPanel {
  color: white;
}

h2  {
  margin-left: 8px;
}

.settingsPanel label {
  padding: 8px;
  display: flex;
}

.settingsPanel label span {
  margin: auto 0;
}

.settingsPanel .toggle,
.settingsPanel select {
  position: relative;
  width: 54px;
  min-width: 54px;
  height: 28px;
  margin: auto 4px auto auto;
  outline: 0;
}

.settingsPanel select {
  border-radius: 4px;
  padding: 2px;
}

.settingsPanel input {
  display: none;
}

.settingsPanel .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 32px;
}

.settingsPanel .slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: #2196f3;
}

.sidePanel .nasaLogo {
  position: absolute;
  margin-left: 45px;
  padding: 0;
  bottom: 8px;
}

iframe {
  display: block;
  margin: auto;
  border-width: 0;
}

.placeholder {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: fixed;
}
